<?xml version="1.0"?>
<launch>
  <arg name="track" default="virtual_track"/>
  <arg name="controller_config" default="controller.yaml"/>
  <arg name="vehicle_config" default="vehicle_stable_v2.yaml"/>
  <arg name="formulation" default="mpcc"/>
  <arg name="mode" default="race"/>
  <arg name="allow_real_hardware" default="false"/>
  <arg name="start_enabled" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="$(find f1tenth_dynamic_mpcc)/rviz/nav.rviz"/>
  <arg name="telemetry_path" default=""/>
  <arg name="lap_timer" default="true"/>
  <arg name="lap_log_path" default=""/>
  <arg name="runtime_speed_cap_mps" default="3.0"/>
  <arg name="generated_dir" default="$(env HOME)/.cache/f1tenth_residual_mpcc/acados_stable_v2"/>
  <arg name="residual_model_path" default=""/>
  <arg name="residual_feature_set" default=""/>
  <arg name="startup_steering_rate_override" default="3.4"/>
  <arg name="publisher_steering_rate_override" default="3.4"/>
  <arg name="pp_steering_rate_override" default="3.4"/>
  <arg name="oob_recovery_enabled" default="true"/>

  <node pkg="f1tenth_dynamic_mpcc" type="mpcc_node_cpp"
        name="f1tenth_dynamic_mpcc" output="screen">
    <env name="MPLBACKEND" value="Agg"/>
    <param name="controller_config" value="$(find f1tenth_dynamic_mpcc)/config/$(arg controller_config)"/>
    <param name="vehicle_config" value="$(find f1tenth_dynamic_mpcc)/config/$(arg vehicle_config)"/>
    <param name="track_csv" value="$(find f1tenth_dynamic_mpcc)/data/tracks/$(arg track)/raceline.csv"/>
    <param name="formulation" value="$(arg formulation)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="start_enabled" value="$(arg start_enabled)"/>
    <param name="command_topic" value="/f1tenth_mpcc/real/ackermann_cmd_stamped"/>
    <param name="allow_real_command_topic" value="false"/>
    <param name="collision_required" value="false"/>
    <param name="telemetry_path" value="$(arg telemetry_path)"/>
    <param name="runtime_speed_cap_mps" value="$(arg runtime_speed_cap_mps)"/>
    <param name="generated_dir" value="$(arg generated_dir)"/>
    <!-- Set these explicitly so a same-name node cannot inherit stale private
         parameters from a previously launched experimental controller. -->
    <param name="residual_model_path" value="$(arg residual_model_path)"/>
    <param name="residual_feature_set" value="$(arg residual_feature_set)"/>
    <param name="startup_steering_rate_override" value="$(arg startup_steering_rate_override)"/>
    <param name="publisher_steering_rate_override" value="$(arg publisher_steering_rate_override)"/>
    <param name="pp_steering_rate_override" value="$(arg pp_steering_rate_override)"/>
    <param name="oob_recovery_enabled" value="$(arg oob_recovery_enabled)"/>
    <param name="cost_contour_override" value="-1.0"/>
    <param name="cost_heading_race_override" value="-1.0"/>
    <param name="cost_steering_command_rate_override" value="-1.0"/>
    <param name="risk_tiering_enabled" value="true"/>
    <param name="near_track_horizon_override" value="0.40"/>
    <param name="predictive_speed_hold_override" value="0.50"/>
    <param name="predictive_speed_recovery_override" value="1.0"/>
    <param name="pp_current_margin_override" value="0.02"/>
    <param name="pp_confirmation_cycles_override" value="2"/>
  </node>

  <node if="$(eval arg('telemetry_path') != '')"
        pkg="f1tenth_dynamic_mpcc"
        type="telemetry_logger.py"
        name="f1tenth_mpcc_telemetry_logger"
        output="screen">
    <param name="path" value="$(arg telemetry_path)"/>
  </node>

  <node if="$(arg lap_timer)" pkg="f1tenth_dynamic_mpcc"
        type="lap_timer_node_cpp" name="f1tenth_mpcc_lap_timer" output="screen">
    <param name="controller_config" value="$(find f1tenth_dynamic_mpcc)/config/$(arg controller_config)"/>
    <param name="vehicle_config" value="$(find f1tenth_dynamic_mpcc)/config/$(arg vehicle_config)"/>
    <param name="track_csv" value="$(find f1tenth_dynamic_mpcc)/data/tracks/$(arg track)/raceline.csv"/>
    <param name="odom_topic" value="/localization/vehicle_odom"/>
    <param name="world_frame" value="map"/>
    <param name="minimum_start_speed_mps" value="0.5"/>
    <param name="minimum_lap_time_s" value="3.0"/>
    <param name="maximum_progress_step_m" value="1.0"/>
    <param name="maximum_odom_gap_s" value="0.5"/>
    <param name="log_path" value="$(arg lap_log_path)"/>
  </node>

  <node if="$(arg allow_real_hardware)" pkg="f1tenth_dynamic_mpcc"
        type="ackermann_command_gate_cpp" name="f1tenth_mpcc_command_gate" output="screen">
    <param name="allow_real_hardware" value="true"/>
    <param name="start_enabled" value="$(arg start_enabled)"/>
    <param name="collision_required" value="false"/>
    <param name="input_topic" value="/f1tenth_mpcc/real/ackermann_cmd_stamped"/>
    <param name="output_topic" value="/tianracer/ackermann_cmd"/>
    <param name="publish_rate_hz" value="50.0"/>
  </node>

  <node if="$(arg rviz)" pkg="rviz" type="rviz"
        name="rviz_f1tenth_mpcc_stable_v2" args="-d $(arg rviz_config)" output="screen"/>
</launch>
